.project
/build*
dita-rdf.xpr
temp/
test*
dita2rdf/demo/information/
dita2rdf/demo/*.*
dita2rdf/demo/docsrc
dita2rdf/demo/out/*
!*.rdf
*.list
/documentation/*
/documentation/src/out
!/documentation/src
!/documentation/*.pdf
!/documentation/dita-rdf.html
!/documentation/*.pdf
!/documentation/*.chm
