.project
/build*
!build_publishdoc.xml
dita-rdf.xpr
temp/
test*
dita2rdf/demo/information/
dita2rdf/demo/docsrc
dita2rdf/demo/out/*
dita2rdf/src/customization/build.properties
!*.rdf
*.list
/*.properties
/documentation/*
/documentation/src/out
!/documentation/src
!/documentation/*.pdf
!/documentation/dita-rdf.html
!/documentation/*.pdf
!/documentation/*.chm
