.project
/build*
!build_publishdoc.xml
dita-rdf.xpr
temp/
dita2rdf/src/browser/.sass-cache/
test*
dita2rdf/demo/information/
dita2rdf/demo/docsrc
dita2rdf/demo/out/*
dita2rdf/src/customization/build.properties
dita2rdf/src/view
*.rdf
*.list
/*.properties
/documentation/*
/documentation/src/out
!/documentation/src
!/documentation/*.pdf
!/documentation/dita-rdf.html
!/documentation/*.pdf
!/documentation/*.chm
dita-spec*
dita2rdf.rdf
oxygen-userguide.rdf
node_modules/
app/