# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType text/turtle .ttl
AddType application/ld+json .jsonld


# Rewrite engine setup
RewriteEngine On
RewriteBase /ontologies

# Rewrite rule to make sure we serve HTML content from the namespace URI if requested
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^dita$ http://bit.ly/DitaRdfLucidChart [R=303]

# Rewrite rule to make sure we serve RDF/XML content from the namespace URI if requested
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml [OR]
RewriteCond %{HTTP_ACCEPT} application/xml
RewriteRule ^dita$ http://dydra.com/colin-maudry/dita.rdf [R=303]

# Rewrite rule to make sure we serve Turtle content from the namespace URI if requested
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^dita$ dita.ttl [R=303]

# Rewrite rule to make sure we serve JSON-LD content from the namespace URI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^dita$ http://dydra.com/colin-maudry/dita.jsonld [R=303]

# Rewrite rule to make sure we serve the RDF/XML content from the namespace URI by default
RewriteRule ^dita$ http://dydra.com/colin-maudry/dita.rdf [R=303]